.btn {
    background-color: rgba(41, 4, 4, 0.822); 
    border-radius: 1ch;
    color:  #E9DCDC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.btn:hover {
  background-color: rgb(59, 14, 3);
}

.header {
  background: #E9DCDC;
  background: -webkit-linear-gradient(bottom right, #E9DCDC, #FFFFFF);
  background: -moz-linear-gradient(bottom right, #E9DCDC, #FFFFFF);
  background: linear-gradient(to top left, #E9DCDC, #FFFFFF);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(41, 4, 4);
}

.statistical-values {
  display: inline-block;
}

.statistical-values h3{
  padding: 15px 32px;
  text-align: justify ;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.statistical-values hr {
  border-color: rgba(41, 4, 4, 0.322);
  border-radius: 2px;
}

.statistical-title {
  display: inline-block;
  font-size: 30px;
  text-shadow: 1ch;
  color: rgba(41, 4, 4, 0.822);
  font-weight: 200;
  border-radius: 2px;
  margin-right: 35%;
}

.graph-title {
  display: inline-block;
  font-size: 30px;
  text-shadow: 1ch;
  color: rgba(41, 4, 4, 0.822);
  font-weight: 200;
}

.title {
  font-size: 80px;
  text-shadow: 1ch;
  color: rgba(41, 4, 4, 0.822);
  margin: 0ch;
  font-weight: 200;
}
.subtitle {
  font-size: 20px;
  text-shadow: 1ch;
  color: rgba(41, 4, 4, 0.822);
  margin: 0ch;
  letter-spacing: 15px;
  font-weight: lighter;
}

.input {
  background: #f4f7f8;
	margin: 10px auto;
	padding: 10px 20px;
  border-radius: 8px;
  border: solid;
  border-color: rgba(41, 4, 4, 0.522);  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.radio {

  border-color: rgba(41, 4, 4, 0.822); 
  cursor: pointer;
  height: 15px;
  transition: 300ms;
  width: 20px;
  background-color: rgba(41, 4, 4, 0.522);  
  margin: 0.8ch;
}

.select {
  border: 2px solid;
  border-color: rgba(41, 4, 4, 0.522); 
  border-radius: 1ch;
  cursor: pointer;
  padding: 5px 10px;
  position: justify;
  transition: border-color 300ms;
}

.textTitle {
  font-size: 20px;
  text-shadow: 1ch;
  color: rgba(41, 4, 4, 0.822);
  font-weight: lighter;
}